<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452626894835-j0ug76lttmloea42vag69hf71gchvafk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452626894835-j0ug76lttmloea42vag69hf71gchvafk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>452626894835-6egqnvrbi88oke9ve4k4ufo2dm3bc3lr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP5j0wvDVrmJuze-zCJadThBBwUiIj38Q</string>
	<key>GCM_SENDER_ID</key>
	<string>452626894835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.hoogingApp</string>
	<key>PROJECT_ID</key>
	<string>hooging-f33b0</string>
	<key>STORAGE_BUCKET</key>
	<string>hooging-f33b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452626894835:ios:2be31f7a190c5017954c86</string>
	<key>DATABASE_URL</key>
	<string>https://hooging-f33b0.firebaseio.com</string>
</dict>
</plist>